* {
  margin: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Poppins, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.app-bar {
  height: 92px;
  align-items: center;
}

.toolbar-mobile {
  position: relative;
  margin-top: 10px;
}

.normal-button {
  padding: 8px;
  width: 24px;
  height: 24px;
  right: 24px;
  border-radius: 8px;
}

.burger {
  /* Icons/Icon - Menu */

  display: block;
  position: absolute;
  right: 10px;
  top: 0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0;
}

.logo {
  padding: 10px 12px;
  text-decoration: none;

  /* My Logo */

  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  /* identical to box height, or 111% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Primary/B400 */

  color: #0016db;

  /* Inside auto layout */

  margin-top: auto;
}

.toolbar-container {
  /* Toolbar Container */

  position: absolute;
  visibility: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  /* Base / 900 */

  background: #181e25;
}

#mobMenu {
  display: none;
}

.mobMenu-close {
  height: 50px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.close-icon {
  padding: 5% 0 0 80%;
  width: 15px;
}

.mobile-menu-items {
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  background-color: rgb(31 57 255 / 65%);
  position: fixed;
  width: 100%;
  padding: 15% 0;
}

.mobile-menu a {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 0 18px 25px;
}

.headline {
  /* Auto layout */

  padding: 114px 24px;
  top: 92px;
  background: url(assets/bg.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.social-list img {
  padding: 5px;
  border-radius: 5px;
}

.social-list li {
  display: inline-block;
  padding: 0;
}

.social-list-2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 64%;
}

.social-list-2 img {
  padding: 5px;
  border-radius: 5px;
}

.social-list-2 li {
  display: inline-block;
  padding: 0;
}

.let-s-connect {
  margin: 6px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #0f27ff;
}

.let-s-connect-2 {
  width: 64%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  /* Primary Text */

  position: static;
  width: 327px;
  height: 126px;
  left: 24px;
  top: 114px;

  /* Header / 2 */

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.header-shapes {
  /* header-shapes mobile */

  position: absolute;
  height: 600px;
  left: 0;
  top: 80px;
}

.card-works-1 {
  /* Card Works */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: 575px;
  left: 24px;
  top: 114px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 88px 0;
}

.primary-text-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: 80px;
  left: 0;
}

h5 {
  /* Project Title */

  position: static;
  width: 295px;
  height: 36px;
  left: 0;
  top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0;
}

.left-block {
  /* Left Block */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  position: static;
  width: 295px;
  height: 288px;
  left: 16px;
  top: 248px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.frame {
  /* Frame 2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 236px;
  height: 32px;
  left: 0;
  top: 48px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  justify-content: space-between;
}

.client {
  /* Client */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  position: static;
  width: 55px;
  height: 32px;
  left: 0;
  top: 0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.client > h6 {
  /* Text */

  position: static;
  width: 55px;
  height: 32px;
  left: 0;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  /* Role */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 89px;
  height: 32px;
  left: 86px;
  top: 0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.role > span {
  /* Text */

  position: static;
  width: 89px;
  height: 16px;
  left: 0;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-style: normal;
  font-weight: 600;
  font-size: 12.9px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #4b5363;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  /* Counter */

  position: static;
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year-label {
  /* Role */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  position: static;
  width: 88px;
  height: 32px;
  left: 87px;
  top: 0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.year-label > span {
  /* Text */

  position: static;
  width: 29px;
  height: 16px;
  left: 0;
  top: 8px;

  /* Caption / 1 - Bolder */

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #485260;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.primary-text-4 {
  /* Primary Text */

  position: static;
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;

  /* Body / 3 */

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin-bottom: 12px;
}

.tags > ul {
  /* Tags */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: static;
  width: 203px;
  height: 24px;
  left: 0;
  top: 180px;
  list-style: none;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.tag-html {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 4px 12px;
  position: static;
  width: 37px;
  height: 24px;
  left: 0;
  top: 0;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.tag-html > span {
  /* html */

  position: static;
  width: 29px;
  height: 16px;
  left: 12px;
  top: 4px;

  /* Button / Small */

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #0018f0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0;
}

.tag-css {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 29px;
  height: 24px;
  left: 61px;
  top: 0;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0 8px;
}

.tag-css > span {
  /* css */

  position: static;
  width: 21px;
  height: 16px;
  left: 12px;
  top: 4px;

  /* Button / Small */

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #0018f0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0;
}

.tag-js {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: 73px;
  height: 24px;
  left: 114px;
  top: 0;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0 8px;
}

.tag-js > span {
  /* javaScript */

  position: static;
  width: 65px;
  height: 16px;
  left: 12px;
  top: 4px;

  /* Button / Small */

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #0018f0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0;
}

.card-works-2 {
  /* Card Works */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  height: 596px;
  left: 0;
  top: 754px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 88px 0;
}

.card-works-3 {
  /* Card Works */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  height: 596px;
  left: 0;
  top: 1438px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 88px 0;
}

.card-works-4 {
  /* Card Works */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: static;
  height: 596px;
  left: 0;
  top: 2078px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 88px 0;
}

.action {
  /* Action */

  position: static;
  width: 295px;
  height: 72px;
  left: 0;
  top: 216px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.see-project > button {
  /* See Project */

  position: static;
  width: 124px;
  height: 48px;
  top: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;

  /* Button /Normal */

  font-style: normal;
  font-weight: 500;
  font-size: 16.9px;
  line-height: 24px;

  /* Primary/B500 */

  color: #0c3cb6;
}

.about-myself {
  top: 92px;
  background: #fff;
}

.about {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.normal-button-secondary {
  /* Normal Button/Secondary/Enabled */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 162px;
  height: 48px;
  left: 0;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.get-my-resume {
  /* Get my resume */

  width: 155px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16.9px;
  color: #0c3fc0;
}

button:hover {
  background-color: #6070ff;
  color: #dfe1e6;
}

button:active {
  background-color: #2230d2;
  color: #dfe1e6;
}

.skill-list {
  /* Skill List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: static;
  width: 327px;
  height: 464.15px;
  left: 24px;
  top: 547px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.skill-list ul {
  list-style: none;
}

.skill-languages {
  /* Frame 7 */

  /* Frame 8 */

  width: 327px;
  height: 72px;
  left: 0;
  top: 320.15px;

  /* Inside auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.languages {
  /* Languages */

  height: 24px;
  left: 12px;
  right: 78px;

  /* Body / 1 - Bolder */

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: #000;
  padding-left: 12px;
}

.disabled-languages {
  /* Normal Button/Tertiary/Disabled */

  /* Auto layout */

  padding: 8px;
  width: 40px;
  height: 40px;
  right: 26px;
}

.frame-11 {
  /* Language List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  position: static;
  width: 327px;
  height: 248.15px;
  left: 0;
  top: 72px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0;
}

.skill-frameworks {
  /* Frame 8 */

  width: 327px;
  height: 72px;
  left: 0;
  top: 320.15px;

  /* Inside auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.frameworks {
  /* Frameworks */

  height: 24px;
  left: 12px;
  right: 78px;

  /* Body / 1 - Bolder */

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  padding: 12px;
  color: #000;
}

.chevron {
  /* Normal Button/Tertiary/Disabled */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  right: 17px;
}

.skill-skills {
  /* Frame 9 */

  width: 327px;
  height: 72px;
  left: 0;
  top: 392.15px;

  /* Inside auto layout */

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: none;
  flex-grow: 0;
  margin: 0;
}

.skills {
  /* Skills */

  height: 24px;
  left: 12px;
  right: 78px;

  /* Body / 1 - Bolder */

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  padding: 12px;
  color: #000;
}

hr.solid {
  /* Solid border */

  border-top: 1px solid #dfe1e6;
  width: 80%;
  padding: 0 5% 0 5%;
}

.contact-me {
  width: 100%;
  height: 800px;
}

.blue-rounded {
  /* Contact me */

  position: absolute;
  width: 100%;
  height: 1000px;
  left: 0;
  top: 4600px;
  margin: 0;

  /* Primary/B400 */

  background: #6070ff;
  border-radius: 50px 0 0;
  background-image: url(assets/desktop-contact-bg.svg);
}

.blue-rounded > h3 {
  /* Header / 2 */

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 103px;

  /* or 130% */

  text-align: center;

  /* Neutrals/N0 */

  color: #fff;
}

.blue-rounded > p {
  /* Primary Text */
  margin: 0 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  /* Primary/B50 */

  color: #ebebff;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  font-size: 17px;
  padding-top: 10px;
  color: black;
}

#name {
  height: 48px;
  border-radius: 8px;
  margin: 0 24px 20px;
  padding: 10px;
  border: none;

  /* Input Text */

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  /* or 118% */

  display: flex;
  align-items: center;

  /* Neutral/N800 */

  color: #172b4d;
}

#email {
  height: 48px;
  margin: 0 24px 20px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 18px;
  border: none;

  /* Input Text */

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  /* or 118% */

  display: flex;
  align-items: center;

  /* Neutral/N800 */

  color: #172b4d;
}

#message {
  border-radius: 8px;
  border: none;
  margin: 0 24px 20px;
  height: 170px;

  /* Input Text */

  padding: 15px 0 0 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* Neutrals/N60 */

  color: #b3bac5;
}

#btn {
  /* Get in touch */

  position: static;
  width: 140px;
  height: 48px;
  left: 12px;
  top: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;

  /* Button /Normal */

  font-style: normal;
  font-weight: 500;
  font-size: 16.9px;
  line-height: 24px;

  /* identical to box height, or 141% */

  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */

  color: #396df2;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0 24px;
}

.toolbar-desktop {
  display: none;
}

/* The Detatils Popup */

#pp-details {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.pp-container {
  background-color: white;
  width: 80%;
  height: 88%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 5%;
}

.pp-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5% 0;
}

.pp-hdng {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  align-self: center;
}

.pp-img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp-img {
  justify-content: center;
  align-items: center;
  padding: 0 0 5% 0;
  max-height: 400px;
}

.pp-dscrptn {
  padding-bottom: 2%;
  height: 30%;
  overflow: hidden;
}

.pp-btm-block {
  display: flex;
  flex-direction: column;
}

.pp-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pp-specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  padding: 10px 10px 10px 0;
}

.pp-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.pp-btn {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.see {
  margin-top: 5%;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #0c3fc0;
}

.see img {
  padding-left: 10px;
}

.v-d {
  display: none;
}

@media (min-width: 768px) {
  body {
    background-color: #e5e5e5;
    font-family: Poppins, sans-serif;
  }

  .burger {
    display: none;
  }

  .toolbar-mobile {
    display: none;
  }

  .v-d {
    display: block;
  }

  .v-m {
    display: none;
  }

  .toolbar-desktop {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  nav {
    padding: 10px;
  }

  .logo {
    padding: 0 142px;
    text-decoration: none;
  }

  .menu {
    display: inline;
    padding: 16px 142px;
  }

  .menu > li {
    display: inline;
    justify-content: space-between;
    padding: 8px;
    width: 63px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  a {
    color: #0016db;
    text-decoration: none;
  }

  .header-shapes {
    display: none;
  }

  .headline {
    background: url(assets/Header\ bg.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 34.6px;
    align-items: center;
  }

  .hello {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    width: 64%;
    margin: 10% 16% 0;
    animation-name: example;
    animation-duration: 8s;
  }

  @keyframes example {
    0% {
      background-color: rgb(14 173 176 / 91.4%);
      color: black;
    }

    25% {
      background-color: #e7e12c;
      color: #1c1a19;
    }

    50% {
      background-color: rgb(228 112 112);
      color: black;
    }

    100% { background-color: rgb(43 57 182); }
  }

  .hello-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    flex-grow: 0;
    width: 64%;
    margin: 0 16%;
  }

  .let-s-connect {
    width: 64%;
    margin: 0 16%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
  }

  .social-list {
    list-style-type: none;
    padding: 0;
    width: 64%;
    margin: 0 16%;
  }

  .card-works-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .card-works-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .card-works-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .card-works-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .snp-p-img {
    width: 100%;
    height: 448px;
    padding: 24px;
  }

  .snp-p-img:hover {
    transform: scale(1.3);
  }

  .left-block {
    padding: 24px;
  }

  .works {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .about-myself {
    padding: 114px 24px;
    top: 92px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .about-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .skill-list {
    /* Skill List */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    height: 464.15px;
    left: 24px;
    top: 547px;
    flex-grow: 0;
  }

  .social-list-2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 64%;
  }

  .social-list-2 li {
    display: inline-block;
    padding: 0;
  }

  .social-list-2 img {
    padding: 5px;
    border-radius: 5px;
  }

  .let-s-connect-2 {
    width: 64%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
  }

  .contact-me {
    margin-top: 20px;
    height: 779px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blue-rounded {
    /* Contact me */
    height: auto;

    /* Primary/B400 */

    background: #6070ff;
    border-radius: 50px 0 0;
    width: 100%;
    background-image: url(assets/desktop-contact-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
  }

  .blue-rounded > img {
    position: absolute;
    width: 250px;
    left: 1000px;
    top: 21px;
  }

  .blue-rounded > h3 {
    /* Header / 2 */

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-top: 103px;

    /* or 130% */

    text-align: center;

    /* Neutrals/N0 */

    color: #fff;
  }

  .blue-rounded > p {
    /* Primary Text */
    margin: 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 34%;
    padding: 0 33%;

    /* Primary/B50 */

    color: #ebebff;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #message {
    border-radius: 8px;
    border: none;
    margin: 0 24px 20px;
    height: 170px;

    /* Input Text */

    padding: 15px 0 0 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    /* Neutrals/N60 */

    color: #b3bac5;
  }

  #btn {
    /* Get in touch */

    position: static;
    width: 140px;
    height: 48px;
    left: 12px;
    top: 12px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;

    /* Button /Normal */

    font-style: normal;
    font-weight: 500;
    font-size: 16.9px;
    line-height: 24px;

    /* identical to box height, or 141% */

    display: flex;
    justify-content: center;
    letter-spacing: 0.03em;

    /* Primary/B500 */

    color: #396df2;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
    margin: 0 24px;
  }

  #btn:hover {
    background-color: #6070ff;
    color: #dfe1e6;
  }

  #btn:active {
    background-color: #2230d2;
    color: #dfe1e6;
  }

  .pp-container {
    background-color: white;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 1156px;
    height: 700px;
    max-width: 80%;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50px;
  }

  /* The Details Popup Window */

  .pp-details {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .pp-top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pp-hdng {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    align-self: center;
  }

  .pp-img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pp-img {
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 88%;
  }

  .pp-dscrptn {
    padding-bottom: 2%;
    overflow: visible;
    height: 100%;
  }

  .pp-btm-block {
    display: flex;
    flex-direction: row;
  }

  .pp-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .pp-specs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    padding: 10px;
  }

  .pp-tag {
    margin: 5% 1.5%;
  }

  .pp-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .pp-btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .see {
    margin-top: 5%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    border: 1px solid #6070ff;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #0c3fc0;
  }

  .see img {
    padding-left: 10px;
  }
}
